
<h1><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;"><strong>SIMPLE TRADE SETTINGS</strong></span></span><strong>&nbsp; &nbsp;&nbsp;</strong></h1>
<h3><span style="background-color: #ffff00;">(APD/APK confidential)</span></h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<form action="/data" method = "POST">
    <p>INR you have for the game ?  <input type = "text" name = "Rs" /></p>
    <p>Daily Buy @  <input type = "text" name = "l1" /></p>
    <p>Daily Sell @  <input type = "text" name = "u1" /></p>
    <p>Weekly Buy @  <input type = "text" name = "l2" /></p>
    <p>Weekly Sell @  <input type = "text" name = "u2" /></p>
    <p>Monthly Buy @ <input type = "text" name = "l3" /></p>
    <p>Monthly Sell @  <input type = "text" name = "u3" /></p>


    <p><input type = "submit" value = "submit" /></p>
</form>
